@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--sl-content-width: 70rem;
	--sl-sidebar-width: 12rem;
}
@media (min-width: 72rem) {
	.right-sidebar-container {
    min-width: 12rem;
	}
}
footer {
	display: none;
}
